@model TiendaApp.Models.Producto

@{
    ViewData["Title"] = "Eliminar Producto";
}

<h2>Eliminar Producto</h2>

<h4>¿Está seguro que desea eliminar este producto?</h4>

<hr />

<dl class="row">

    <dt class="col-sm-3">
        Nombre
    </dt>

    <dd class="col-sm-9">
        @Model.Nombre
    </dd>

    <dt class="col-sm-3">
        Precio
    </dt>

    <dd class="col-sm-9">
        @Model.Precio
    </dd>

    <dt class="col-sm-3">
        Stock
    </dt>

    <dd class="col-sm-9">
        @Model.Stock
    </dd>

    <dt class="col-sm-3">
        Fecha de Vencimiento
    </dt>

    <dd class="col-sm-9">
        @Model.FechaVencimiento.ToShortDateString()
    </dd>

</dl>

<form asp-action="Delete">

    <input type="hidden" asp-for="Id"/>

    <button type="submit" class="btn btn-danger">
        Eliminar
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        Cancelar
    </a>

</form>