@model TiendaApp.Models.Producto

@{
    ViewData["Title"] = "Editar Producto";
}

<h2>Editar Producto</h2>

<hr />

<div class="row">

    <div class="col-md-6">

        <form asp-action="Edit">

            <input type="hidden" asp-for="Id"/>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Nombre" class="form-label"></label>
                <input asp-for="Nombre" class="form-control"/>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Precio" class="form-label"></label>
                <input asp-for="Precio" class="form-control"/>
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Stock" class="form-label"></label>
                <input asp-for="Stock" class="form-control"/>
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="FechaVencimiento" class="form-label"></label>
                <input asp-for="FechaVencimiento" class="form-control"/>
                <span asp-validation-for="FechaVencimiento" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">
                Guardar Cambios
            </button>

            <a asp-action="Index" class="btn btn-secondary">
                Cancelar
            </a>

        </form>

    </div>

</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}