@{
    ViewData["Title"] = "Promociones del Mes";
}

<h1>Promociones del Mes</h1>

<h3>@ViewData["Message"]</h3>

<p>
    Bienvenido a las promociones especiales de La Económica.
</p>

<a asp-controller="Productos"
   asp-action="Index"
   class="btn btn-primary">
    Volver al listado
</a>